* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ffe3e2;
    font-family: montserrat, serif;
}
.navbar-cart {
    margin-right: 20px;
}
.home-img {
    background-image: url("../images/games4u.png");
    background-size: 50%;
    background-repeat: repeat;
}
.wrapper {
    max-width: 1000px;
    margin: 20px auto;
}
.wrapper h1 {
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}
.project {
    display: flex;
    margin-top: 20px;
}
.project i {
    margin-right: 15px;
}
.shop {
    flex: 75%;
}
.box, .cart-box {
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #fff;
    transition: all .6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.box:hover, .cart-box:hover {
    border: none;
    transform: scale(1.01);
}
.box img, .cart-box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.content{
    padding: 20px;
    width: 100%;
    position: relative;
}
.content h3 {
    margin-bottom: 30px;
}
.content h4 {
    margin-bottom: 50px;
}
.amount {
    display: flex;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 60px;
    padding: 5px 25px;
    background-color: white;
}
.minus, .plus {
    width: 35px;
    height: 35px;
    background-color:lightgray;
    border: 0;
    color: black;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.minus:hover, .plus:hover {
    background-color: rgba(2, 2, 2, 0.5);
    color: white;
    font-weight: 600;
}
.amount-input {
    height:35px;
    width: 35px;
    font-size: 20px;
    border: 0;
    text-align: center;
    font-weight: 900;
}
.amount-input:focus {
    outline: none;
}
.type {
    color: rgba(23, 23, 23, 0.65);
}
.price {
    text-align: right;
    right: 20px;
    bottom: 70px;
    position: absolute;
}
.btn-area {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: #020202;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.btn-area:hover {
    background-color: rgba(2, 2, 2, 0.5);
    color: #fff;
    font-weight: 600;
}
.btn-area i {
    margin-right: 5px;
}
.right-bar {
    flex: 25%;
    margin-left: 20px;
    padding: 20px;
    height: 400px;
    border-radius: 5px;
    background: rgba(184, 185, 185, 0.49);
    box-shadow: rgba(255, 241, 241, 0.2) 0 7px 29px 0;
}
.right-bar hr {
    margin-bottom: 25px;
}
.right-bar p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
.right-bar a {
    background-color: #020202;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
}
.right-bar i {
    margin-right: 15px;
}
.right-bar a:hover {
    background-color: rgba(2, 2, 2, 0.5);
    color: #fff;
}
.form {
    display: block;
    width: 65%;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.contact-box-header h2{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 5px;
    background: #fff;
    text-align: center;
}
.contact-box {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px;
    background: black;
    color: white;
    text-align: center;
    font-size: x-large;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.contact-box:hover {
    border: none;
    transform: scale(1.01);
}
.back-to-cart {
    background-color: #020202;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
}
.back-to-cart:hover {
    background-color: rgba(2, 2, 2, 0.5);
    color: #fff;
    font-weight: 600;
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
#cartCount {
    font-size: 12px;
    background: #679fb0;
    color: white;
    padding: 0.25px 5px;
    vertical-align: top;
    margin-left: -10px;
}
.empty-cart {
    width: 100%;
    line-height: 200px;
    margin-top: 100px;
    box-shadow: rgba(2, 2, 2, 0.24) 0 7px 29px 0;
    text-align: center;
}
.empty-cart span {
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 700px) {
    .content h3 {
        margin-bottom: 15px;
    }
    .content h4 {
        margin-bottom: 20px;
    }
    .remove-button, .plus, .minus, .add-to-cart {
        display: none;
    }
    .box, .cart-box {
        height: 150px;
    }
    .box img, .cart-box img {
        height: 150px;
        width: 200px;
    }
}
@media screen and (max-width: 900px) {
    .project {
        flex-direction: column;
    }
    .right-bar {
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1250px) {
    .wrapper {
        max-width: 95%;
    }
}