<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    <link rel="shortcut icon" type="image/x-icon" href="../static/icon.ico" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Games4U</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <form class="navbar-cart">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">
                            <i class="fa fa-shopping-basket"></i>
                            <span class="badge badge-warning" id="cartCount" th:text="${#lists.size(gamesIds)}"></span>
                            Cart
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="contact-box-header">
        <h2>Contact</h2>
    </div>

    <div class="contact-box">
        <h4>
            Zuzanna Pietrzak & Jakub Mazur
        </h4>
        <i class="fa fa-phone" aria-hidden="true"></i>
        phone numbers: </br>
        +48 123 123 123 </br>
        +48 321 321 321
    </div>
    <div class="contact-box">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        email address: </br>
        games4u@example.com
    </div>
    <div class="contact-box">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        address </br>
        XXX 1 Road </br>
        Cracow </br>
        POLAND
    </div>
    <div class="contact-box">
        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
        account number </br>
        PL AA BBBB CCCD XXXX XXXX XXXX XXXX
    </div>
</div>

</body>
</html>