<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/icon.ico" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{../javascript/main_script.js}"></script>

</head>
<body>
<div class="wrapper">
    <div class="project">
        <form class="form" method="post" action="/payment">
            <fieldset>
                <a href="/cart" class="back-to-cart" id="cart">
                    <i class="fa fa-shopping-basket"></i>
                    Cart
                </a>
                <h1>Personal data</h1>
                <div class="form-group">
                    <label for="name" class="form-label mt-4">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                    <label for="surname" class="form-label mt-4">Surname</label>
                    <input type="text" class="form-control" id="surname" placeholder="Enter your surname" required>
                </div>
                <div class="form-group">
                    <label for="email" class="form-label mt-4">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your email" required>
                    <small id="emailHelp" class="form-text text-muted">for example kowalski123@example.com</small>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="form-label mt-4">Phone number</label>
                    <input type="number" class="form-control" id="phoneNumber" aria-describedby="numberHelp" placeholder="Enter your phone number" required>
                    <small id="numberHelp" class="form-text text-muted">for example +48 123 123 123</small>
                </div>
                <div class="form-group">
                    <label for="street" class="form-label mt-4">Shipping address</label>
                    <input type="text" class="form-control" id="street" aria-describedby="streetHelp" placeholder="Enter street and house number" required>
                    <input type="text" class="form-control" id="postcode" aria-describedby="postcodeHelp" placeholder="Enter postcode" required>
                    <input type="text" class="form-control" id="city" aria-describedby="cityHelp" placeholder="Enter your city" required>
                </div>

                <div class="form-group">
                    <label for="moreInfo" class="form-label mt-4">More information for seller</label>
                    <textarea class="form-control" id="moreInfo" rows="3"></textarea>
                </div>

                <p>
                    <i class="fa fa-shopping-cart"></i>
                    <input type="submit" value="Continue and pay with PayPal" class="btn" id="submit-button">
                </p>
            </fieldset>
        </form>

        <div class="checkout-right-bar">
            <p>
                <span>Subtotal</span>
                <span id="items-price" th:text="${subtotal} + ' PLN'"></span>
            </p>
            <hr>
            <p>
                <span>Shipping</span>
                <span>15 PLN</span>
            </p>
            <hr>
            <p>
                <span>Total</span>
                <span id="items-price-total" th:text="${subtotal} + 15 + ' PLN'"></span>
            </p>

            <div class="checkout-box" th:each="game: ${gamesIds}">
                <img th:src="@{${'../images-html/' + game.id + '.jpg'}}">
                <div class="checkout-content">
                    <h3 th:text="${game.name}"></h3>
                    <h4 th:text="'quantity: ' + ${game.quantity}"></h4>
                </div>
            </div>

        </div>

    </div>
</div>

</body>
</html>