<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Games4U</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="wrapper">
        <div class="payment-result">
            <h1>Payment Success</h1>
            <a href="/">
                Back to main page
            </a>
        </div>
    </div>
</body>
</html>